{% from "partials/icon.njk" import icon %}
<header class="site-header" id="top">
  <div class="container site-header__inner">
    <a href="/" class="site-header__logo" aria-label="{{ site.name }} home">
      {% include "partials/cad-logo.svg" %}
    </a>

    <button class="site-header__toggle" aria-label="Open menu" aria-expanded="false" data-nav-toggle>
      {{ icon("menu", 24) }}
    </button>

    <nav class="site-nav" aria-label="Primary">
      <ul class="site-nav__list">
        <li><a href="/about/">About</a></li>

        <li class="site-nav__has-children">
          <a href="#" aria-haspopup="true">Services {{ icon("chevron-down", 14) }}</a>
          <ul class="site-nav__sub">
            {% for s in services %}
            <li><a href="/{{ s.slug }}/">{{ icon(s.icon) }} {{ s.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="site-nav__has-children">
          <a href="/industries/" aria-haspopup="true">Industries {{ icon("chevron-down", 14) }}</a>
          <ul class="site-nav__sub site-nav__sub--columns">
            {% for ind in industries %}
            <li><a href="/industries/{{ ind.slug }}/">{{ icon(ind.icon) }} {{ ind.title }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li class="site-nav__has-children">
          <a href="/locations-served/" aria-haspopup="true">Locations {{ icon("chevron-down", 14) }}</a>
          <ul class="site-nav__sub">
            {% for province, info in locations | dictsort %}
              {% for city in info.cities %}
              <li><a href="/locations-served/{{ province }}/{{ city.slug }}/">{{ icon("pin") }} {{ city.title }}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </li>

        <li class="site-nav__has-children">
          <a href="/projects/" aria-haspopup="true">Projects {{ icon("chevron-down", 14) }}</a>
          <ul class="site-nav__sub">
            <li><a href="/projects/email-migrations/">{{ icon("envelope") }} Email Migrations</a></li>
            <li><a href="/projects/cloud-migrations/">{{ icon("cloud") }} Cloud Migrations</a></li>
            <li><a href="/projects/server-migrations/">{{ icon("server") }} Server Migrations</a></li>
          </ul>
        </li>

        <li><a href="/pricing/">Pricing</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact-us/">Contact</a></li>
      </ul>

      <div class="site-nav__cta">
        <a href="tel:{{ site.phonePrimaryHref }}" class="btn btn--primary">
          {{ icon("headset", 18) }} {{ site.phonePrimary }}
        </a>
      </div>
    </nav>
  </div>
</header>
